/**
 * FONTS
 * Contains all fonts that need to be hosted locally.
 * » http://google-webfonts-helper.herokuapp.com/fonts (=> make sure paths start with 'dist/fonts/' instead of '../fonts')
 *
 */

@font-face {
  font-family: 'Nexa';
  src: url('dist/fonts/Nexa-Black.eot');
  src: url('dist/fonts/Nexa-Black.eot?#iefix') format('embedded-opentype'),
      url('dist/fonts/Nexa-Black.woff2') format('woff2'),
      url('dist/fonts/Nexa-Black.woff') format('woff'),
      url('dist/fonts/Nexa-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexa';
  src: url('dist/fonts/Nexa-Regular.eot');
  src: url('dist/fonts/Nexa-Regular.eot?#iefix') format('embedded-opentype'),
      url('dist/fonts/Nexa-Regular.woff2') format('woff2'),
      url('dist/fonts/Nexa-Regular.woff') format('woff'),
      url('dist/fonts/Nexa-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
