/**
 * General CSS File
 * Contains defaults and presets
 *
 * The Idea is to keep editing in this file to a
 * minimum while using vars.scss for very basic styling.
 *
 */


@import 'vars';

/*==================================================================================
  GENERAL
==================================================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;

  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: -webkit-fill-available;
}

body {
  display: block;
  background: $c-background;
  font-family: $f-regular;
  font-size: $s-normal;
  color: $c-text;
  cursor: default;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.content {
  padding: $p-general 0;
  position: relative;
}

.content-top {
  padding: $p-general 0 0;
}

.content-bottom {
  padding: 0 0 $p-general;
}

.no-padding {
  padding: 0;
}

button:focus {
  outline: 0;
}

button {
  cursor: pointer;
}

.not-found {
  display: block;
  background: $c-accent;
  color: $c-white;
  padding: 2vw;
  margin: 40px 0;

  h4 {
    font-size: 24px;
  }
}

img {
  max-width: 100%;
}

/*==================================================================================
  Home hero
==================================================================================*/
.home-hero {
  background: #4FA0FF;
  position: relative;

  .row {
    align-items: center;
  }
}

.hero__text {
  h1 {
    font-size: 80px;
    line-height: 84px;
  }

  .cta {
    margin: 60px 0;
  }
}

.hero__text-benefits {
  margin: 40px 0 0 30px;
  font-size: 24px;
  list-style: none;

  li {
    &::before {
      content: "\2022";
      color: $c-white;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

.hero__image {
  margin: 0 0 40px;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: $black;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  text-decoration: none;
  line-height: 120%;
  border-radius: $r-radius;
  transition: all ease-out $transition_fast;
}

.cta__black {
  background: $c-black;
  color: $c-white;

  &:hover {
    background: $c-white;
    color: $c-black;
  }
}

.hero__text-lang {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: 0 0 30px;

  li {
    margin: 0 40px 0 0;

    &:nth-child(4) {
      margin: 0 10px 0 0;
    }
  }
}

/*==================================================================================
  Home offer
==================================================================================*/
.home-offer {
  .container {
    position: relative;
    z-index: 2;
    margin: -50px auto 0;
    background: $c-white;
    border-radius: 20px;
    box-shadow: 0 30px 60px rgba(14, 119, 255, 0.05%);
    padding: 150px 60px;
  }
}

.title {
  font-size: 68px;
  font-weight: $black;
  line-height: 110%;
}

.cta__blue {
  background: $c-accent;
  color: $c-white;

  &:hover {
    background: $c-black;
  }
}

.offer__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 60px 0 0;

  h4 {
    font-size: 25px;
    margin: 15px 0;
  }

  p {
    font-size: 22px;
    line-height: 144%;
    margin: 0 0 70px;
  }
}

/*==================================================================================
  Home video
==================================================================================*/
.home-video {
  margin: 8vw 0 -6px;
}

.video__box {
  position: relative;
  display: table;
  padding: 0 15px;
  margin: 0 auto;

  img {
    max-width: 100%;
  }
}

.video__box-tag {
  position: absolute;
  top: 4.8%;
  left: 5%;
  width: 90%;
  height: 60.5%;
  background: #000;

  video {
    width: 100%;
    height: 100%;
  }
}

/*==================================================================================
  Home methodology
==================================================================================*/
.home-methodology {
  position: relative;
  padding: 6vw 0;

  h3 {
    font-size: 50px;
    font-weight: $black;
    text-align: center;
    line-height: 135%;
  }
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/*==================================================================================
  Home about
==================================================================================*/
.home-about {
  padding: 4vw 0 8vw;
}

.about__box {
  align-items: center;
  margin: 8vw 0;

  h4 {
    display: block;
    font-size: 40px;
    font-weight: $black;
    line-height: 115%;
  }

  p {
    font-size: 22px;
    line-height: 130%;
    margin: 20px 0 0;
  }
}

.about__box-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/*==================================================================================
  Home benefits
==================================================================================*/
.home-benefits {
  padding: 8vw 0;
  position: relative;
}

.benefits__box {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin: 0 40px 0 0;
  }

  p {
    font-weight: $black;

    b {
      font-size: 50px;
      color: $c-white;
    }

    span {
      display: block;
      font-size: 28px;
      line-height: 110%;
    }
  }
}

/*==================================================================================
  Home reviews
==================================================================================*/
.home-reviews {
  padding: 8vw 0 4vw;
}

.glide__slides {
  white-space: normal !important;
  cursor: default !important;
}

.reviews__box {
  margin: 80px 0 0;

  .row {
    align-items: center;
  }

  h4 {
    display: block;
    font-size: 28px;
  }

  figure {
    position: relative;
    width: 100%;
    max-width: 260px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 20px solid $c-accent;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
}

.reviews__box-description {
  display: block;
  margin: 10px 0 20px;
  font-size: 18px;
}

.reviews__box-content {
  font-size: 22px;
  line-height: 144%;
}

.reviews__box-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin: 30px 0 0;

  a {
    &:hover {
      svg {
        path {
          fill: $c-black;
        }
      }
    }
  }

  .svg-icon-link {
    width: 30px;
    height: 30px;

    path {
      fill: $c-accent;
      transition: fill ease-out $transition_fast;
    }
  }
}

.reviews__slider-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $c-black;
    border: none;
    padding: 12px 10px;
    transition: background ease-out $transition_fast;

    &:hover {
      background: $c-accent;
    }

    svg {
      width: 30px;
      height: 30px;

      path {
        fill: $c-white;
      }
    }
  }
}

/*==================================================================================
  Home how start
==================================================================================*/
.howstart__box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 120px 0;

  span {
    font-size: 50px;
    font-weight: $black;
    color: $c-accent;
    margin: 40px 0 0;
  }

  h4 {
    font-size: 28px;
  }
}

.cta__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*==================================================================================
  Home price
==================================================================================*/
.price__description {
  font-size: 22px;
  margin: 30px 0 0;
  padding: 0 15px 0 0;
}

.price__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 80px 0;
  gap: 5px;
}

.price__box {
  flex: 1;
  background: $c-white;
  border: 1px solid $c-accent;
  padding: 10px 20px;
  border-radius: 20px;
}

.price__free {
  background: $c-accent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 5%;

  .cta {
    margin: 15px 0;
  }
}

.price__box-num {
  font-size: 150px;
  font-weight: $black;
  line-height: 100%;
  text-align: center;
  margin: -10px 0 -30px;

  span {
    font-size: 40px;
  }
}

.price__box-description {
  text-align: center;
  font-size: 22px;
  line-height: 110%;
}

.price__step {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 20px;

  span {
    font-size: 18px;
    line-height: 120%;
  }
}

.price__step-num {
  font-size: 36px;
  font-weight: $black;
  line-height: 100%;
}

.price__step-count {
  font-size: 26px;
  font-weight: $black;
}

.divider {
  position: relative;
  width: 100%;
  height: 1px;
  background: $c-accent;
  margin: 30px 0;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 22px;
    background: $c-white;
    border: 1px solid $c-accent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

.step__1 {
  .divider {
    &::before {
      left: 10px;
    }
  }
}

.step__2 {
  border: 2px solid $c-accent;

  .divider {
    height: 2px;

    &::before {
      border: 2px solid $c-accent;
    }
  }
}

.step__3 {
  border: 3px solid $c-accent;

  .divider {
    height: 3px;

    &::before {
      border: 3px solid $c-accent;
    }
  }
}

.step__4 {
  border: 4px solid $c-accent;

  .divider {
    height: 4px;

    &::before {
      border: 4px solid $c-accent;
    }
  }
}

.price__final {
  flex: 13%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 30px 20px;
  
  .cta {
    font-size: 16px;
  }
}

.price__final-count {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 120%;
  margin: 10px 0 20px;

  span {
    flex: 50%;
    
    b {
      display: block;
      font-size: 26px;
      margin: 0 0 10px;
    }
  }
}

.price__info {
  font-size: $s-normal;
  line-height: 120%;
}

/*==================================================================================
  Modal set
==================================================================================*/
.modal__content {
  h4 {
    font-size: 24px;
    text-align: center;
    line-height: 140%;
    margin: 20px 0 40px;
  }

  .cta {
    margin: 30px auto;
  }

  .ajax-loader {
    position: absolute;
    left: 0;
    top: 20px;
  }
}

.inp {
  display: block;
  width: 100%;
  font-family: $f-regular;
  border: 1px solid $c-background;
  padding: 15px;
  margin: 20px 0 0;
  font-weight: $regular;
  font-size: 16px;
  border-radius: $r-radius;
  outline: none;
  transition: all ease-out $transition_fast;

  &.wpcf7-textarea {
    resize: vertical;
    height: 160px;
  }
}

.wpcf7-not-valid {
  border: 1px solid #ff8888;
}

.wpcf7-response-output {
  border-radius: $r-radius;
  margin: 20px 0 0 !important;
}

/*==================================================================================
  Schools offer
==================================================================================*/
.schools-page, .teachers-page {
  position: relative;
}

.schools-offer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  margin: 50px 0 0;
}

.schools-offer__box {
  display: flex;
  flex-direction: column;
  background: $c-white;
  padding: 30px;
  border-radius: 20px;
  flex: 0 1 30%;

  img {
    width: 60px;
  }

  h4 {
    font-size: 24px;
    margin: 10px 0;
  }

  p {
    font-size: 18px;
  }
}

.schools-branding__box {
  text-align: center;
  margin: 70px 0 0;
}

.schools-video img {
  border-bottom: 8px solid $c-white;
}

/*==================================================================================
  Schools content
==================================================================================*/
.schools-questions {
  padding: 0 0 8vw;

  .title {
    margin: 0 0 20px;
  }
}

.wp-block-pb-accordion-item {
  margin: 30px 0 0;
  background: $c-white;
  padding: 20px;
  border: 1px solid $c-text;

  h2 {
    font-size: 18px;
    outline: none;
    font-weight: $regular;
  }
}

.c-accordion__title:after {
  color: $c-text;
  font-size: 30px;
}

.c-accordion__content {
  padding: 30px;
}

/*==================================================================================
  Page teachers
==================================================================================*/
.teachers-parthners {
  padding: 6vw 0;
  position: relative;
}
