 /**
  * Variables
  * Contains re-usable variables like colors, sizes, breakpoints etc.
  * Normally, you don't have to change anything in essentials.css and general.css
  * because you'll define the basic-values here.
  */

/* HTML
/––––––––––––––––––––––––*/
$light:                       300;
$regular:                     400;
$semibold:                    600;
$bold:                        700;
$black:                       900;

/* colors
/––––––––––––––––––––––––*/
$c-white: #fff;
$c-black: #111;
$c-accent: #4FA2FF;
$c-text: #1D1D1B;
$c-background: #F0F4F7;

/* fonts
/––––––––––––––––––––––––*/
$f-regular: 'Nexa';
$f-title: 'Nexa';

$s-small: 	12px;
$s-normal: 	14px;
$s-large: 	16px;

/* transitions
/––––––––––––––––––––––––*/
$transition_fast:            .3s;
$transition_slow:            .7s;

/* radius
/––––––––––––––––––––––––*/
$r-radius: 4px;

/* paddings
/––––––––––––––––––––––––*/
$p-general: 4vw;

/* root vars
/––––––––––––––––––––––––*/
:root {
  --c-accent: #{$c-accent};
}

/* flex's
/––––––––––––––––––––––––*/
@mixin flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin img-fit-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
